<div class="about-section">
    <h1>About Us</h1>
    <p>This app improves the communication experience of people with partial or total hearing loss problems and people with disrupted speech. </p>
    <p>The app provides 24/7 real-time captioning (with up to 95% accuracy, based on artificial intelligence), on your smartphone.</p>
    <p>The app can be used for social interactions such as quickly talking with colleagues at work or internal meetings.</p>
    <p>Companion can also be used to instantly transcribe what people say in classroom trainings, business meetings, and many more.</p>
        <p>**Features**</p>
    <ul>
        <li>live transcribe</li>
        <li>super easy to use and intuitive</li>
        <li>converts speech to text and text to speech</li>
        <li>record the conversation in text and provides access to history for later use</li>
    </ul>
</div>

