<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Subtitles</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="meeting">
          <ion-icon name="keypad-outline"></ion-icon>
          <ion-label>Meeting</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="history">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-label>History</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="about">
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-about *ngIf="selectedTab == 'about'"></app-about>
  <app-meeting *ngIf="selectedTab == 'meeting'"></app-meeting>
  <app-history *ngIf="selectedTab == 'history'"></app-history>
</ion-content>
